<form class="meeting-form">
  <h2>
    I
    <select name="method">
      <% _.each(methods, function(m){ %>
        <option value="<%= m.value %>" <%= m.value==method.value ? "selected" : "" %>><%= m.verb_past %></option>
      <% }) %>
    </select>
    <%= relationship.name %>
  </h2>

  <% if (!meeting) { %>
    <div class="button-group">
      <button class="days-ago" days-ago="0">Today</button>
      <button class="days-ago" days-ago="1">Yesterday</button>
      <button class="days-ago" days-ago="2">2 Days Ago</button>
    </div>
  <% } %>

  <label for="date">On Date:</label>
  <input type="date" name="date" placeholder="yyyy-mm-dd" value="<%= meeting ? UTIL.formatDateInput(meeting.date) : '' %>">

  <label for="notes"><%= meeting ? 'Note: ' : 'Add A Note: ' %></label>
  <textarea name="notes"><%= meeting ? meeting.notes : '' %></textarea>

  <% if (meeting) { %>
  <a href="#/meeting/remove" class="remove-meeting">Remove this meeting</a>
  <input name="id" type="hidden" value="<%= meeting.id %>" />
  <% } %>

  <input type="hidden" name="relationship_id" value="<%= relationship.id %>" />

  <button type="submit">Submit</button>
</form>

<div class="button-group">
  <button class="edit-relationship">Edit Settings</button>
  <% if (meetings && meetings.length) { %>
  <button class="view-meetings">View/Edit Past Meetings</button>
  <% } %>
</div>
