<h2><%= relationship.name %></h2>

<% if (last_meeting) { %>
  <h4>Last <%= last_meeting.method.verb_past %></h4>
  <p><%= UTIL.formatDate(last_meeting.date) %> <em>(<%= UTIL.timeAgo(last_meeting.date) %>)</em></p>
<% } %>

<% if (rhythm) { %>
  <h4>Rhythm</h4>
  <p> <%= rhythm.label %></p>
<% } %>

<% if (hueLight) { %>
  <h4>Light Status</h4>
  <button class="toggle-light-status <%= hueLight.state.on ? 'active' : '' %>"></button>
<% } %>

<div class="button-group">
  <button class="add-meeting">Add New Meeting</button>
  <button class="edit-relationship">Edit Settings</button>
  <button class="view-meetings">View/Edit Past Meetings</button>
</div>
