<form class="relationship-form">
  <h2><%= relationship ? 'Edit' : 'Add A' %> Relationship</h2>

  <label for="name">Name</label>
  <input name="name" type="text" value="<%= relationship ? relationship.name : '' %>" />

  <label for="method">Contact Method</label>
  <select name="method">
    <% _.each(methods, function(m){ %>
      <option value="<%= m.value %>" <%= relationship && relationship.method==m.value ? 'selected' : '' %>><%= m.label %></option>
    <% }) %>
  </select>

  <label for="rhythm">Rhythm</label>
  <select name="rhythm">
    <% _.each(rhythms, function(r){ %>
      <option value="<%= r.value %>" <%= relationship && relationship.rhythm==r.value ? 'selected' : '' %>><%= r.label %></option>
    <% }) %>
  </select>

  <% if (relationship) { %>
  <a href="#/relationship/remove" class="remove-relationship">Remove this relationship</a>
  <% } %>

  <input name="id" type="hidden" value="<%= relationship ? relationship.id : '' %>" />

  <button type="submit">Submit</button>
</form>
