<div class="light level<%= level %> <%= relationship.light %>">
  <div class="flicker"></div>
</div>

<div class="caption">
  <div class="light-label"><%= light.label %> Light</div>
  <div class="energy-label" style="opacity: <%= UTIL.lerp(0.2,1,energy) %>">Energy: <%= Math.round(energy * 100) %>%</div>
  <div class="meeting-label">
    Last <%= lastMethod.verb_past %> <%= name %><br /><span title="<%= UTIL.formatDate(lastMeeting.date) %>"><%= UTIL.timeAgo(lastMeeting.date) %></span>
  </div>
</div>
